<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"></th:block>

<body>

<th:block th:replace="fragments/navbar"></th:block>

<main>

    <div class="container text-center">

        <h1>Top posts</h1>
        <hr class="bg-blog hr-2"/>

        <th:block th:each="post:${topPosts}">
            <div class="card">
                <h5 class="card-header font-weight-bold" th:text="${post.title}"></h5>
                <div class="card-body">
                    <h5 class="card-title" th:text="${#strings.substring(post.body,0,50) + '...'}"></h5>
                    <p class="card-text text-light" th:text="${'Author ' + post.user.username}"></p>
                    <a th:href="@{/print/{id}(id=${post.id})}" class="btn btn-secondary">Read post</a>
                </div>
            </div>
            <br/>
        </th:block>

        <hr class="bg-blog hr-2 mt-5"/>

    </div>

</main>

<th:block th:replace="fragments/footer"></th:block>

</body>
</html>