<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"></th:block>
<body>
<th:block th:replace="fragments/navbar"></th:block>
<main>
    <div class="container text-center w-50">

        <h1>My comments</h1>
        <hr class="bg-blog hr-2"/>

        <th:block th:each="document:${documents}">
            <div class="card ">
                <h5 class="card-header font-weight-bold" th:text="${document.post.title}"></h5>
                <div class="card-body">
                    <h3 th:text="${document.body}"></h3>

                    <a th:href="@{/comment/delete/{id}(id=${document.id})}"
                       class="btn btn-blog text-white font-weight-bold mb-3">Delete comment</a>
                </div>
            </div>
            <br/>
        </th:block>

        <hr class="bg-blog hr-2 mt-5"/>
        <br/>
        <br/>
    </div>

</main>

<th:block th:replace="fragments/footer"></th:block>
</body>
</html>