<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"></th:block>
<body>

<th:block th:replace="fragments/navbar"></th:block>

<main>

    <div class="container text-center blog-container">

        <br/>
        <br/>

        <div class="card">
            <h5 class="card-header font-weight-bold" th:text="${post.title}"></h5>
            <div class="card-body">
                <h5 class="card-title" th:text="${post.body}"></h5>
                <hr class="bg-blog hr-2"/>
                <p class="card-text " th:text="${'Author ' + post.user.username}"></p>
                <p class="card-text " th:text="${'Like ' + post.likeCount}"></p>
                <p class="card-text " th:text="${'Dislike ' + post.dislikeCount}"></p>
            </div>
        </div>

        <br/>
        <br/>
        <small id="commentHelp" class="text-danger"></small>
        <form class="mx-auto w-75" th:method="post" th:action="@{/addcomment/{postid}(postid=${post.id})}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <th:block th:if="${btnVisibility == 'yes'}">
                    <a class="btn btn-secondary btn-outline-dark rounded" th:href="@{/print/like/{id}(id=${post.id})}">&#128077;&#127995; </a>
                    <a class="btn btn-secondary btn-outline-dark rounded" th:href="@{/print/dislike/{id}(id=${post.id})}">&#128078;&#127995;</a>
                    </th:block>
                    <input class="btn btn-secondary btn-outline-dark rounded" type="submit"
                           id = "commentBtn" value="comment &#128394;"/>
                </div>
                <input type="text" class="form-control" id="comment" placeholder="add comment..." name="body" required maxlength="250" autocomplete="off"/>
            </div>
        </form>

        <hr class="bg-blog hr-2"/>

        <div class="justify-content-center">
            <label for="comment" class="text-blog h3">Comments</label>
        </div>

        <div class="container w-50">
            <th:block th:each="comment:${post.comments}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${comment.body}"></h5>
                    </div>
                </div>
                <br/>
            </th:block>
        </div>
        <br/>
        <br/>
        <br/>
    </div>

<!--        <input class="btn btn-secondary btn-outline-dark rounded" value="asda" th:disabled="${btnDisabled == 'yes'} ? '' : 'false'"/>-->
<!--        <input class="btn btn-secondary btn-outline-dark rounded" value="asda" th:visibility="${btnVisibility == 'yes'} ? 'visible' : 'hidden'"/>-->




</main>
<br/>
<br/>
<br/>
<th:block th:replace="fragments/footer"></th:block>
</body>
<script th:src="@{/js/commentValidationScript.js}"></script>
</html>