<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"></th:block>

<body>

<th:block th:replace="fragments/navbar"></th:block>

<main>

    <div class="container text-center">

        <h1>Registration</h1>
        <hr class="bg-blog hr-2"/>

        <form id="a" class="mx-auto w-75" th:method="post" th:action="@{/registration}">

            <div class="form-group">
                <div class="justify-content-center">
                    <label for="firstName" class="text-blog h3">Firs Name *</label>
                </div>
                <small id="firstNameHelp" class="text-danger"></small>
                <input type="text" class="form-control " id="firstName" placeholder="First name..." name="firstName" required pattern="[A-Z][a-z]*" maxlength="50"/>
            </div>

            <div class="form-group">
                <div class="justify-content-center">
                    <label for="lastName" class="text-blog h3">Last name *</label>
                </div>
                <small id="lastNameHelp" class="text-danger"></small>
                <input type="text" class="form-control" id="lastName" placeholder="LastName..." name="lastName" required pattern="[A-Z][a-z]*" maxlength="50"/>
            </div>

            <div class="form-group">
                <div class="justify-content-center">
                    <label for="username" class="text-blog h3">Username *</label>
                </div>
                <small id="usernameHelp" class="text-danger"></small>
                <input type="text" class="form-control" id="username" placeholder="Username..." name="username" required pattern="^([a-zA-Z0-9_]+)$" maxlength="50"/>
            </div>

            <div class="form-group">
                <div class="justify-content-center">
                    <label for="password" class="text-blog h3">Password *</label>
                </div>
                <small id="passwordHelp" class="text-danger"></small>
                <input type="password" class="form-control" id="password" placeholder="Password..." name="password" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\w\s]).{8,}$" minlength="8" maxlength="50"/>
            </div>

            <div class="form-group">
                <div class="justify-content-center">
                    <label for="confirm_password" class="text-blog h3">Confirm password *</label>
                </div>
                <small id="confirmPasswordHelp" class="text-danger"></small>
                <input type="password" class="form-control" id="confirm_password" placeholder="Confirm_password..."
                       name="confirm_password" required maxlength="50"/>
            </div>

            <div class="form-group">
                <div class="justify-content-center">
                    <label for="email" class="text-blog h3">Email *</label>
                </div>
                <small id="emailHelp" class="text-danger"></small>
                <input type="text" class="form-control" id="email" placeholder="Email..." name="email" required pattern="^([a-zA-Z0-9_]+@[a-zA-Z]+\.[a-zA-Z]+)(\.[a-zA-Z]+)*$" maxlength="100"/>
            </div>

            <div class="form-group">
                <div class="justify-content-center">
                    <label for="address" class="text-blog h3">Address</label>
                </div>
                <small id="addressHelp" class="text-danger"></small>
                <input type="address" class="form-control" id="address" placeholder="Address..." name="address" maxlength="100"/>
            </div>

            <hr class="bg-blog hr-2"/>

            <div class="justify-content-center">
                <button id ="regBtn" type="submit" class="btn bg-blog text-white">Register</button>
            </div>

            <hr class="bg-blog hr-2"/>

        </form>

    </div>

</main>
<th:block th:replace="fragments/footer"></th:block>
</body>
<script th:src="@{/js/regValidationScript.js}"></script>
</html>